<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hey Hey Hey!</title>
</head>
<body>


<ul id="navigation">
    {% for item in navigation %}
    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
</ul>

<h1>Hey Hey Hey!!</h1>
{{ a_variable }}
My name is Risa and I'm a junior at Del Norte High School! I'm a beginner at coding but am willing to try new things to get a better understanding on how computer science affects our daily lives.
So far, I have learned how to implement loops, lists, functions, classes, variables, strings, if statements, dictionaries, and user input into my code. My best part of coding is how I could collaborate with my teammates to create an awesome project that I'm proud of. The "Ah Ha" moments are my absolute favorite moments because after working on my code for hours and finally seeing something work, makes me so relieved knowing that everything was worth it.
{# a comment #}
</body>
</html>