{% extends "base.html" %}

{% block head %}
  <title>{{name}} | Hello </title>
{% endblock %}

<!-- Project Information  -->
{% block title %}
  <h1>Hello Series Project</h1>
{% endblock %}

{% block link1 %}
  <a href="http://nighthawkcoders.cf/courses/python/" class="btn">Project Plan</a>
{% endblock %}
{% block link2 %}
  <a href="https://repl.it/@ValerieMiliteev/SnakeProj#README.md" class="btn">Snake Game</a>
{% endblock %}
{% block link3 %}
  <a href="https://padlet.com/risaiwazaki55/ox7mw5z9syhnyw7w" class="btn">Resources</a>
{% endblock %}


